/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.container {
    background-color: blueviolet;
}

.thought1 {
    font-family: 'Poor Story', cursive;
}

.thought2 {
    font-family: 'Lora', serif;
}

.thought3 {
    font-family: 'Indie Flower', cursive;
}


